<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Game Library</h1>
    {% if games == []: %}
    <p>Library is empty.</p>
    {% endif %}
    <ul>
      {% for game in games %}
      <li>
        <a href="{{ url_for('delete', id=game.id) }}">Delete</a>
        {{game.title}} - {{game.price}}$
        <a href="{{ url_for('update' , id=game.id) }}">Update</a>
      </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('add_game') }}">Add New Game</a>
  <a href="{{ url_for('add_dev') }}">Add New Dev</a>
  <a href="{{ url_for('add_engine') }}">Add New Engine</a>
  <ul>
      {% for key, value in df.items() %}
      <li>
        Developer {{key}} has {{value}}
        {% if value==1 %}
        game.
        {% else %}
        games.
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
